<%= form_for(@local) do |f| %>
  <% if @local.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @local.errors.full_messages.each do |msg| %>
        <li class="form-msg-error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="grid-12-12">
    <%= f.label :des_local, :class => "form-lbl form-req"%>
    <%= f.text_field :des_local, :class => "form-txt form-small", :disabled => disabled %>
  </div>

  <% unless disabled %>
    <div class="grid-7-12 field-button field-clear">
      <%= f.submit :class => "button form-right medium" %>
    </div>
  <% end %>
<% end %>
