<h1><%= t 'model.local.title' %></h1>

<table>
  <tr>
    <th><%= t('model.local.description') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locals.each do |local| %>
  <tr>
    <td><%= local.des_local %></td>
    <td><%= link_to t('model.show'), local %></td>
    <td><%= link_to t('model.edit'), edit_local_path(local) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('model.local.new'), new_local_path %>
