<div class="form">
  <div class="search">
    <input type="text" value="search" id="search"/>
    <%= link_to image_tag("form/search.png") + t('application.search') , "#", :class => "button medium"%>
  </div>
  <table>
    <tr>
      <th><%=  t('model.local.name').pluralize %></th>
      <th colspan="3" class="options"><%= t("application.options") %></th>
    </tr>
    <% @locals.each do |local| %>
      <tr class="row">
        <td width ="100%"><%= local.des_local %></td>
        <td><%= link_to  image_tag("form/search.gif"), local %></td>
        <td><%= link_to  image_tag("form/edit.gif"), edit_local_path(local) %></td>
        <td><%= link_to  image_tag("form/trash.gif"), "#" %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="buttons-nav">
  <%= link_to t('model.local.new'), new_local_path , :class => "button medium"%>
</div>
