<p id="notice"><%= notice %></p>

<p>
  <b><%= t('model.local.description') %>:</b>
  <%= @local.des_local %>
</p>

<%= link_to t('model.edit'), edit_local_path(@local) %> |
<%= link_to t('model.back'), locals_path %>
