<div class="form">
  <fieldset>
    <legend><%= t('model.local.name') %></legend>
    <% if notice %>
      <span class="form-msg-success"><%= notice %></span>
    <% end %>
    <%= render :partial => 'form', :locals => {:disabled => true } %>
  </fieldset>
</div>

<div class="buttons-nav">
  <%= link_to t('model.edit'), edit_local_path(@local), :class => "button medium"  %>
  <%= link_to t('model.back'), locals_path, :class => "button medium"  %>
</div>
