<h1><%= t 'model.guidance.title' %></h1>

<table>
  <tr>
    <th><%= t 'model.value' %></th>
    <th><%= t 'model.user' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guidances.each do |guidance| %>
  <tr>
    <td><%= guidance.value %></td>
    <td><%= guidance.user %></td>
    <td><%= link_to t('model.show'), guidance %></td>
    <td><%= link_to t('model.edit'), edit_guidance_path(guidance) %></td>
    <td><%= link_to t('model.destroy'), guidance, :confirm => t('model.destroy_question'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('model.guidance.new'), new_guidance_path %>
