<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'model.value' %>:</b>
  <%= @guidance.value %>
</p>

<p>
  <b><%= t 'model.user' %>:</b>
  <%= @guidance.user %>
</p>


<%= link_to t('model.edit'), edit_guidance_path(@guidance) %> |
<%= link_to t('model.back'), guidances_path %>
