<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'model.value' %>:</b>
  <%= @call_history_type.value %>
</p>

<p>
  <b><%= t 'model.acronym' %>:</b>
  <%= @call_history_type.acronym %>
</p>

<p>
  <b><%= t 'model.user' %>:</b>
  <%= @call_history_type.user %>
</p>


<%= link_to t('model.edit') , edit_call_history_type_path(@call_history_type) %> |
<%= link_to t('model.back'), call_history_types_path %>
