<%= form_for([@ticket_type_group, @ticket_type]) do |f| %>
  <%= f.hidden_field :ticket_type_group_id, :value => params[:ticket_type_group_id] %>
  <% if @ticket_type.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @ticket_type.errors.full_messages.each do |msg| %>
        <li class="form-msg-error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="grid-12-12">
    <%= f.label :value, :class => "form-lbl form-req" %>
    <%= f.text_field :value, :maxlength => 80, :size => 30, :class => "form-txt form-small", :disabled => disabled %>
  </div>

  <div class="grid-12-12">
    <%= f.label :acronym, :class => "form-lbl form-req"%>
    <%= f.text_field :acronym , :maxlength => 3, :class => "form-txt form-small", :disabled => disabled %>
  </div>

  <div class="grid-12-12">
    <%= f.label :priority, :class => "form-lbl form-req"%>
    <ul class="form-list-rdo">
      <li>
        <%= f.radio_button :priority, "true", :disabled => disabled  %>
        <%= f.label t('model.wicket.priority.sure'), :class => "form-lbl" %>
      </li>
      <li>
        <%= f.radio_button :priority, "false", :disabled => disabled  %> 
        <%= f.label t('model.wicket.priority.not'), :class => "form-lbl"%>
      </li>
    </ul>
  </div> 

  <div class="grid-12-12">
    <%= f.label :status, :class => "form-lbl form-req"%>
    <ul class="form-list-rdo">
      <% Status.all.each do |status| %>
        <li>
          <%= f.radio_button :status_id, status.id , :disabled => disabled %>
          <%= f.label status.value, :class => "form-lbl" %>
        </li>
      <% end %>
    </ul>
  </div>
 
  <% unless disabled %>
    <div class="grid-7-12 field-button field-clear">
      <%= f.submit :class => "button form-right medium" %>
    </div>
  <%end%>
<% end %> 
