<h1>Listing ticket_types</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Acronym</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_types.each do |ticket_type| %>
  <tr>
    <td><%= ticket_type.value %></td>
    <td><%= ticket_type.acronym %></td>
    <td><%= ticket_type.user %></td>
    <td><%= link_to 'Show', ticket_type %></td>
    <td><%= link_to 'Edit', edit_ticket_type_path(ticket_type) %></td>
    <td><%= link_to 'Destroy', ticket_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket type', new_ticket_type_path %>
