<h1><%= t 'model.ticket_type.title' %></h1>

<table>
  <tr>
    <th><%= t 'model.value' %></th>
    <th><%= t 'model.acronym' %></th>
    <th><%= t('model.ticket_type.priority.name') %></th>
    <th><%= t 'model.user' %></th>
    <th><%= t 'model.status_des' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_types.each do |ticket_type| %>
  <tr>
    <td><%= ticket_type.value %></td>
    <td><%= ticket_type.acronym %></td>
    <td><%= ticket_type.priority ? t('model.ticket_type.priority.sure') : t('model.ticket_type.priority.not') %></td>
    <td><%= ticket_type.user %></td>
    <td><%= ticket_type.status.value %></td>
    <td><%= link_to t('model.show'), ticket_type_group_ticket_type_path(ticket_type.ticket_type_group, ticket_type) %></td>
    <td><%= link_to t('model.edit'), edit_ticket_type_group_ticket_type_path(ticket_type.ticket_type_group, ticket_type) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('model.ticket_type.new'), new_ticket_type_group_ticket_type_path(@ticket_type_group) %> |
<%= link_to t('model.ticket_type_group.back'), ticket_type_groups_path %>
