<div class="form">
  <fieldset>
    <legend><%= t('model.ticket_type.name') %></legend>
    <% if notice %>
      <span class="form-msg-success"><%= notice %></span>
    <% end %>
    <%= render :partial => 'form', :locals => {:disabled => true } %>
  </fieldset>
</div>
<div class="buttons-nav">
  <%= link_to t('model.edit'), edit_ticket_type_group_ticket_type_path(@ticket_type.ticket_type_group, @ticket_type), :class => "button medium"  %> 
  <%= link_to t('model.back'), ticket_type_group_ticket_types_path(@ticket_type.ticket_type_group), :class => "button medium"  %>
</div>
