<p id="notice"><%= notice %></p>

<p>
  <b><%= t('model.value') %>:</b>
  <%= @ticket_type.value %>
</p>

<p>
  <b><%= t('model.acronym') %>:</b>
  <%= @ticket_type.acronym %>
</p>

<p>
  <b><%= t('model.user') %>:</b>
  <%= @ticket_type.user %>
</p>


<%= link_to t('model.edit'), edit_ticket_type_path(@ticket_type) %> |
<%= link_to t('model.back'), ticket_types_path %>
