<h1><%= t 'model.status.title' %></h1>

<table>
  <tr>
    <th><%= t 'model.value' %></th>
    <th><%= t 'model.user' %></th>
    <th><%= t 'model.created_at' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td><%= t("model.status.#{status.value.downcase}") %></td>
    <td><%= status.user %></td>
    <td><%= status.created_at.strftime( t('time.formats.default') )%></td>
    <td><%= link_to t('model.show'), status %></td>
    <td><%= link_to t('model.edit'), edit_status_path(status) %></td>
    <td><%= link_to t('model.destroy'), status, :confirm => t('model.destroy_question'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('model.status.new'), new_status_path %>
