<p id="notice"><%= notice %></p>

<p>
  <b><%= t( 'model.value' ) %>:</b>
  <%= @status.value %>
</p>

<p>
  <b><%= t( 'model.user' ) %>:</b>
  <%= @status.user %>
</p>


<%= link_to t( 'model.edit' ), edit_status_path(@status) %> |
<%= link_to t( 'model.back' ), statuses_path %>
