<p id="notice"><%= notice %></p>

<p>
  <b><%= t('model.value') %>:</b>
  <%= @panel.value %>
</p>

<p>
  <b><%= t('model.ip') %>:</b>
  <%= @panel.ip %>
</p>

<p>
  <b><%= t('model.status_des') %>:</b>
  <%= @panel.status.value %>
</p>

<p>
  <b><%= t('model.user') %>:</b>
  <%= @panel.user %>
</p>


<%= link_to t('model.edit'), edit_place_panel_path(@panel.place, @panel) %> |
<%= link_to t('model.back'), place_panels_path(@panel.place) %>
