<input type="hidden" name="place_id" value="<%= params[:place_id] %>" id="place_id"/>
<div style="magin: 0 0 0 5%; text-align: right;">
  <div style="padding: 0px 5px 0px;">
    <h1><%= t('model.ticket_type.title') %></h1>
  </div>

  <div style="padding: 0px 5px 0px;">
    <h2><%= @place.value %></h2>
  </div>
  
  <div style="padding: 0px 10px 0px;">
    <%= Date.today.strftime( t('date.formats.default') )+ ' -' %>
    <label class="jclock"></label>
  </div>
</div>

<div class="highlight">
  <div class="arrow right">
    <% display = @tickets.first.wickets.last.guidance_right? ? "block" : "none" unless @tickets.empty? %>
    <%= image_tag "arrow_right.png", :id => "image_right", :style => "display:#{display};" unless @tickets.empty? %>
  </div>
  <div class="last_ticket">
    <% unless @tickets.empty? %>
    <div style = "font-size:30px; color : black; margin : 20px 0;">
      Guichê :  <%= @tickets.first.wickets.last.value unless @tickets.empty? %><br/>
      Tipo : <%= @tickets.first.ticket_type.value unless @tickets.empty? %> 
    </div>
    <% end %>
    <%= @tickets.first.value unless @tickets.empty? %>
  </div>
  <div class="arrow left">
    <% display = @tickets.first.wickets.last.guidance_left? ? "block" : "none" unless @tickets.empty? %>
    <%= image_tag "arrow_left.png", :id => "image_left", :style => "display:#{display};" unless @tickets.empty? %>
  </div>
 </div>
<div class="history_calls">
  <div class="label"> 
     <%=   t('model.ticket.name') %> 
   </div>
   <div class="items" style="width: 1090px;">
  <% @tickets.each do |ticket| %>
    <div class="item">
      <div class="botton">
        <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
      </div>
      <div class="content">
        <%= ticket.value %>
      </div>
    </div>
  <% end %>
   </div>
</div>

<%= audio_tag "beep.ogg", :autoplay => false %>

<%= javascript_include_tag :juggernaut, 'juggernaut', 'juggernaut.panel', 'jquery.ui', 'jquery.jclock', 'application' %>
<script type="text/javascript" charset="utf-8">
   jQuery.clock();
</script>
