<h1><%= t('model.wicket.tickets.call') %></h1>

<table>
<tr>
    <th><%= t('model.ticket.name') %></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.value %></td>
    <td><%= ticket.ticket_type.value %></td>
    <td><%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%></td>
  </tr>
<% end %>
</table>
