<script src="http://10.32.2.21:8080/application.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var jug = new Juggernaut();

    $("#mesg").append($("<li/>").append("Subscribing to channel1_channel2"));

    jug.subscribe('calleds', function(data){
        $("table").append('<tr><td>'+data.value+'</td><td><a id='+data.id+" class='trigger_submit'> Chamar</a></td></tr>");
        jQuery('audio')[0].play()
    }); 
</script><h1><%= t('model.wicket.tickets.call') %></h1>

<table>
<tr>
    <th><%= t('model.ticket.name') %></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.value %></td>
    <td><%= ticket.ticket_type.value %></td>
    <td><%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%></td>
  </tr>
  
<% end %>
</table>


<%= audio_tag "beep.ogg", :autoplay => true %>
