<!--  <h1><%= t('model.wicket.tickets.call') %></h1> -->

<div class="highlight">
  <div class="arrow right">
    <% display = @tickets.first.wickets.last.guidance_right? ? "block" : "none" unless @tickets.empty?%>
    <%= image_tag "arrow_right.png", :id => "image_right", :style => "display:#{display};" %>
  </div>
  <div class="last_ticket">
    <div style = "font-size:30px; color : black; margin : 20px 0;">
      Guichê :  <%= @tickets.first.wickets.last.value unless @tickets.empty? %><br/>
      Tipo : <%= @tickets.first.ticket_type.value unless @tickets.empty? %> 
    </div>
    <%= @tickets.first.value unless @tickets.empty? %>
  </div>
  <div class="arrow left">
    <% display = @tickets.first.wickets.last.guidance_left? ? "block" : "none" unless @tickets.empty? %>
    <%= image_tag "arrow_left.png", :id => "image_left", :style => "display:#{display};"    %>
  </div>
 </div>
<div class="history_calls">
  <div class="label"> 
     <%=   t('model.ticket.name') %> 
   </div>

  <% @tickets.each do |ticket| %>
    <div class="item">
      <div class="botton">
        <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
      </div>
      <div class="content">
        <%= ticket.value %>
      </div>
    </div>
  <% end %>
</div>

<%= audio_tag "beep.ogg", :autoplay => false %>

<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
   var jug = new Juggernaut();

   $("#mesg").append($("<li/>").append("Subscribing to channel1_channel2"));

   jug.subscribe("calleds<%= params[:place_id] %>", function(data){
        $("table").append('<tr><td>'+data.value+'</td><td><a id='+data.id+"' class='trigger_submit'> Chamar</a></td></tr>");
        jQuery('audio')[0].play()

        if(data.left){ 
          jQuery('img#image_left').show();
          jQuery('img#image_right').hide();
        }

        if(data.right){ 
          jQuery('img#image_right').show();
          jQuery('img#image_left').hide();
        }
    }); 
</script>
