<input type="hidden" name="place_id" value="<%= params[:place_id] %>" id="place_id"/>

<meta http-equiv="refresh" content="180" />
<%=  content_for :header do %>
  <div style="float: right; padding-right: 20px; font-size :30px;">
    <h2><%= @place.value %></h2>
    <span class="current-date"><%= Date.today.strftime( t('date.formats.default') )+ ' -' %></span>
    <label class="jclock"></label>
  </div>
  <div style="clear: both;"></div>
<% end %>

<div class="highlight">

  <div class="arrow">
    <% display = @last_wicket.guidance_right? ? "block" : "none" if @last_wicket %>
    <%= image_tag "arrow_right.png", :id => "image_right", :style => "display:#{display};" unless @tickets_empty %>
  </div>

  <div class="last_ticket">
    <div class="infos" >
      <%= @last_wicket.nil? ? "--" : @last_wicket.value  %>
    </div>

    <div class="label">
      <%=@main_ticket.nil? ? "--" : @main_ticket.value   %>
    </div>
  </div>

  <div class="arrow">
    <% display = @last_wicket.guidance_left? ? "block" : "none" if @last_wicket %>
    <%= image_tag "arrow_left.png", :id => "image_left", :style => "display:#{display};" unless @tickets_empty %>
  </div>
  <div style="clear:both"></div>
</div>
<div class="history_calls">
   <div  id="second" class="items">
     <table width="100%">
       <tr class="label">
         <th>
           <%= t('model.call_history.last') %>
         </th>

         <th>
           <%= t('model.wicket.name').pluralize %>
         </th>
       </tr>

       <% 3.times do |index| %>
         <tr class="item">
           <td>
             <%= @second_column[index].nil? ? "--" : @second_column[index].value %>
           </td>
           <td>
             <%= @second_column[index].nil? ? "--" : (truncate @second_column[index].last_wicket_to_call.value, :length => 9, :omission => '') %>
           </td>
         </tr>
       <% end %>
     </table>
   </div>


   <div id="first" class="items">
     <table width="100%">
       <tr class="label">
         <th>
           <%= t('model.call_history.last') %>
         </th>

         <th>
           <%= t('model.wicket.name').pluralize %>
         </th>
       </tr>
       <% 3.times do |index| %>
         <tr class="item">
           <td>
             <%= @first_column[index].nil? ? "--" : @first_column[index].value %>
           </td>
           <td>
             <%= @first_column[index].nil? ? "--" : (truncate @first_column[index].last_wicket_to_call.value, :length => 9, :omission => '')%>
           </td>
         </tr>
       <% end %>
     </table>
   </div>
   <div style="clear:both"></div>
</div>

<%= javascript_include_tag :juggernaut,'jquery.audio', 'juggernaut.panel', 'jquery.jclock' %>
<script type="text/javascript" charset="utf-8">
   jQuery.clock();
</script>
