<div style="magin: 0 0 0 10%; min-height: 500px; text-align: right;">
  <div style="padding: 0px 10px 0px;">
    <h1><%= t('model.ticket_type.title') %></h1>
  </div>
  
  <div style="padding: 0px 10px 0px;">
    <%= Date.today.strftime( t('date.formats.default') )+ ' -' %>
    <label class="jclock"></label>
  </div>

  <div class="totem">
  <%= form_for( Ticket.new ) do |f| %>
    <%= f.hidden_field :ticket_type_id %>
    <%= f.hidden_field :totem_id, :value => params[:totem_id] %>
    <%= f.hidden_field :place_id, :value => params[:place_id] %>
    <% @ticket_types.each do |ticket_type| %>
      <div id="<%= ticket_type.id %>" class="ticket_type generate"><span><%= ticket_type.value %></span></div>
    <% end %>
  <% end %>
  </div>

<%= javascript_include_tag  'facebox', 'facebox-plugin', 'jquery.jclock' %>
<script type="text/javascript" charset="utf-8">
   jQuery.clock();
   jQuery( 'div.generate' ).click( function() { 
    jQuery( '#ticket_ticket_type_id' ).val( this.id );
    param = jQuery( '#new_ticket' ).serialize();
    jQuery.ajax({
      url: "/senhas",
      type: "post",
      data: param,
      dataType: 'json',
      success: function(data){
        ticket = data.ticket;
        jQuery.facebox.new( '<div><h3 style="text-align: center;">HOSPITAL SANTA IZABEL</h3><br/><h4 style="text-align: center;">' + ticket.place_value + '</h4><br/><h1 style="text-align: center; color: red; font-weight: bold;">' + ticket.value + '</h1><br/><b>Tipo:</b> ' + ticket.ticket_type_value + '<br/><b>Data:</b> ' + ticket.created_at_formatted + '</div>').fadeOutIn(3000);
      }
    });
  });
</script>
</div>
