<div class="form">
  <div class="search">
    <input type="text" value="search" id="search"/>
    <%= link_to image_tag("form/search.png") + t('application.search') , "#", :class => "button medium"%>
  </div>
  <table>
    <tr>
      <th><%=  t('model.totem.name').pluralize %></th>
      <th colspan="3" class="options"><%= t("application.options") %></th>
    </tr>
    <% @totems.each do |totem| %>
      <tr class="row">
        <td width ="100%"><%= totem.value %></td>
        <td>
          <%= link_to image_tag("form/search.gif"), place_totem_path(totem.place, totem), :title =>  t('model.show') %>
        </td>
        <td>
          <%= link_to image_tag("form/edit.gif"), edit_place_totem_path(totem.place, totem), :title =>  t('model.edit') %>
        </td>
        <td>
          <%= link_to image_tag("form/trash.gif"), place_totem_generate_ticket_path(totem.place, totem.id), :title =>  t('model.destroy') %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class="buttons-nav">
  <%= link_to t('model.totem.new'), new_place_totem_path(@place),:class => "button medium" %> 
  <%= link_to t('model.place.back'), places_path, :class => "button medium" %>
</div>
