<h1>Listing totems</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Ip</th>
    <th>Status</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @totems.each do |totem| %>
  <tr>
    <td><%= totem.value %></td>
    <td><%= totem.ip %></td>
    <td><%= totem.status.value %></td>
    <td><%= totem.user %></td>
    <td><%= link_to 'Show', place_totem_path(totem.place,totem) %></td>
    <td><%= link_to 'Edit', edit_place_totem_path(totem.place,totem) %></td>
    <td><%= link_to 'Generate', place_totem_generate_ticket_path(totem.place,totem.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Totem', new_place_totem_path %>
