<div class="form">
  <div class="place-spot">
    <%= "#{t('model.place.name')}: " %><b><%= @place.value %></b>
  </div>
  <div class="search">
    <input type="text" value="search" id="search"/>
    <%= link_to image_tag("form/search.png") + t('application.search') , "#", :class => "button medium"%>
  </div>
  <table>
    <tr>
      <th><%= t('model.totem.name').pluralize %></th>
      <th><%= t('model.totem.ip') %></th>
      <th><%= t('model.status.name') %></th>
      <th colspan="4" class="options"><%= t("application.options") %></th>
    </tr>
    <% @totems.each do |totem| %>
      <tr class="row">
        <td width="60%"><%= totem.value %></td>
        <td width="20%"><%= totem.ip %></td>
        <td width="20%"><%= totem.active?  ? t('model.status.active') : t('model.status.inactive') %></td>
        <td>
          <%= link_to image_tag("form/search.gif"), place_totem_path(totem.place, totem), :title => t('model.show') %>
        </td>
        <td>
          <%= link_to image_tag("form/edit.gif"), edit_place_totem_path(totem.place, totem), :title => t('model.edit') %>
        </td>
        <td>
	    <% if @place.ticket_type_groups.size > 2 %>
          <%= link_to image_tag("form/note.gif"), place_totem_ticket_type_groups_path(totem.place, totem), :title => t('model.generate') %>
        <% else %>
          <%= link_to image_tag("form/note.gif"), place_totem_generate_ticket_path(totem.place, totem), :title => t('model.generate') %>
        <% end %>
        </td>
        <td>
			<%= link_to image_tag("form/trash.gif"), place_totem_path(totem.place, totem), :confirm => t('model.destroy_question'), :method => :delete, :title => t('model.destroy') %>
		</td>
      </tr>
    <% end %>
  </table>
</div>
<div class="buttons-nav">
  <%= link_to t('model.totem.new'), new_place_totem_path(@place),:class => "button medium" %> 
  <%= link_to t('model.place.back'), places_path, :class => "button medium" %>
</div>
