<p id="notice"><%= notice %></p>

<p>
  <b><%= t('model.value') %>:</b>
  <%= @totem.value %>
</p>

<p>
  <b><%= t('model.ip') %>:</b>
  <%= @totem.ip %>
</p>

<p>
  <b><%= t('model.status_des') %>:</b>
  <%= @totem.status.value %>
</p>

<p>
  <b><%= t('model.user') %>:</b>
  <%= @totem.user %>
</p>


<%= link_to t('model.edit'), edit_place_totem_path(@totem.place, @totem) %> |
<%= link_to t('model.back'), place_totems_path(@totem.place) %>
