<div class="form">
  <fieldset>
    <legend><%= t('model.wicket.name') %></legend>
    <% if notice %>
      <span class="form-msg-success"><%= notice %></span>
    <% end %>
    <%= render :partial => 'form', :locals => {:disabled => true } %>
  </fieldset>
</div>

<div class="buttons-nav">
  <%= link_to t('model.edit'), edit_place_totem_path(@totem.place, @totem), :class => "button medium"  %> 
  <%= link_to t('model.back'), place_totems_path(@totem.place), :class => "button medium"  %>
</div>
