<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @totem.value %>
</p>

<p>
  <b>Ip:</b>
  <%= @totem.ip %>
</p>

<p>
  <b>Status:</b>
  <%= @totem.status.value %>
</p>

<p>
  <b>User:</b>
  <%= @totem.user %>
</p>


<%= link_to 'Edit', edit_place_totem_path(@totem.place, @totem) %> |
<%= link_to 'Back', place_totems_path %>
