<h1><%= t 'model.call_history.title' %></h1>

<table>
  <tr>
    <th><%= t('model.ticket.name') %></th>
    <th><%= t('model.wicket.name') %></th>
    <th><%= t('model.created_at') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @call_histories.each do |call_history| %>
  <tr>
    <td><%= call_history.ticket.value %></td>
    <td><%= call_history.wicket.value %></td>
    <td><%= call_history.created_at.strftime( t('time.formats.default') ) %></td>
    <td><%= link_to t('model.show'), call_history %></td>
    <td><%= link_to t('model.edit'), edit_call_history_path(call_history) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('model.call_history.new'), new_call_history_path %>
