<h1>Listing call_histories</h1>

<table>
  <tr>
    <th>Ticket</th>
    <th>Wicket</th>
    <th>Type</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @call_histories.each do |call_history| %>
  <tr>
    <td><%= call_history.ticket.value %></td>
    <td><%= call_history.wicket.value %></td>
    <td><%= call_history.call_history_type.value %></td>
    <td><%= call_history.created_at %></td>
    <td><%= link_to 'Show', call_history %></td>
    <td><%= link_to 'Edit', edit_call_history_path(call_history) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Call history', new_call_history_path %>
