<p id="notice"><%= notice %></p>

<p>
  <b><%= t('model.ticket.name') %>:</b>
  <%= @call_history.ticket.value %>
</p>

<p>
  <b><%= t('model.wicket.name') %>:</b>
  <%= @call_history.wicket.value %>
</p>

<%= link_to t('model.edit'), edit_call_history_path(@call_history) %> |
<%= link_to t('model.back'), call_histories_path %>
