<p id="notice"><%= notice %></p>

<p>
  <b>Ticket:</b>
  <%= @call_history.ticket.value %>
</p>

<p>
  <b>Wicket:</b>
  <%= @call_history.wicket.value %>
</p>

<p>
  <b>Call history type:</b>
  <%= @call_history.call_history_type.value %>
</p>


<%= link_to 'Edit', edit_call_history_path(@call_history) %> |
<%= link_to 'Back', call_histories_path %>
