<div style="position:relative; top: -40px">
  <div style="width : 184px; heigth: 200px; float: left">
    <%= link_to image_tag("computer.png", :width => "184px"), ticket_type_groups_path, :style => "padding:0" %>
    <h3 style="text-align: center">Grupos</h3>
  </div>
  <div style="width : 184px; heigth: 200px; float: left">
    <%= link_to image_tag("computer.png", :width => "184px"), places_path, :style => "padding:0" %>
    <h3 style="text-align: center">Localidades</h3>
  </div>
  <div style="width : 184px; heigth: 200px; float: left">
    <%= link_to image_tag("computer.png", :width => "184px"), status_tickets_path, :style => "padding:0" %>
    <h3 style="text-align: center">Status Ticket</h3>
  </div>
  <div style="width : 184px; heigth: 200px; float: left">
    <%= link_to image_tag("computer.png", :width => "184px"), statuses_path, :style => "padding:0" %>
    <h3 style="text-align: center">Status</h3>
  </div>
  <div style="width : 184px; heigth: 200px; float: left">
    <%= link_to image_tag("computer.png", :width => "184px"), guidances_path, :style => "padding:0" %>
    <h3 style="text-align: center">Orientações</h3>
  </div>
  <div style="width : 184px; heigth: 200px; float: left">
    <%= link_to image_tag("computer.png", :width => "184px"), call_histories_path, :style => "padding:0" %>
    <h3 style="text-align: center">Histórico de Chamadas</h3>
  </div>
  <div style="width : 184px; heigth: 200px; float: left">
    <%= link_to image_tag("computer.png", :width => "184px"), locals_path, :style => "padding:0" %>
    <h3 style="text-align: center">Locais</h3>
  </div>
  <div style="clear:both"></div>
</div>