<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @ticket.value %>
</p>

<p>
  <b>Ticket Type:</b>
  <%= @ticket.ticket_type.value %>
</p>

<p>
  <b>Status ticket:</b>
  <%= @ticket.status_ticket.value %>
</p>

<% audio_tag( "beep.mp3", :autoplay => true ) %>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
