<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @ticket.value %>
</p>

<p>
  <b>Ticket Type:</b>
  <%= @ticket.ticket_type.value %>
</p>

<p>
  <b>Status ticket:</b>
  <%= @ticket.status_ticket.value %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>

<%= audio_tag "beep.ogg", :autoplay => true %>


