<%= form_for(@status_ticket) do |f| %>
  <% if @status_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status_ticket.errors.count, "error") %> prohibited this status_ticket from being saved:</h2>

      <ul>
      <% @status_ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :acronym %><br />
    <%= f.text_field :acronym %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
