<%= form_for(@status_ticket) do |f| %>
  <% if @status_ticket.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @status_ticket.errors.full_messages.each do |msg| %>
        <li class="form-msg-error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid-12-12">
    <%= f.label :value, class: "form-lbl form-req"%>
    <%= f.text_field :value, class: "form-txt form-small", disabled: disabled %>
  </div>

  <div class="grid-12-12">
    <%= f.label :acronym, class: "form-lbl form-req"%>
    <%= f.text_field :acronym, maxlength: 3, class: "form-txt form-small", disabled: disabled %>
  </div>

  <% unless disabled %>
    <div class="grid-7-12 field-button field-clear">
      <%= f.submit class: "button form-right medium" %>
    </div>
  <% end %>
<% end %>
