<div class="form">
  <div class="search">
    <input type="text" value="search" id="search"/>
    <%= link_to image_tag("form/search.png") + t('application.search') , "#", :class => "button medium"%>
  </div>
  <table>
    <tr>
      <th><%=  t('model.status_ticket.name').pluralize %></th>
      <th><%= t 'model.acronym' %></th>
      <th colspan="2" class="options"><%= t("application.options") %></th>
    </tr>
    <% @status_tickets.each do |status_ticket| %>
      <tr class="row">
        <td width ="60%"><%= status_ticket.value %></td>
        <td width ="40%"><%= status_ticket.acronym %></td>
        <td><%= link_to  image_tag("form/search.gif"), status_ticket %></td>
        <td><%= link_to  image_tag("form/edit.gif"), edit_status_ticket_path(status_ticket) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="buttons-nav">
  <%= link_to t('model.status_ticket.new'), new_status_ticket_path , class: "button medium" %>
</div>
