<h1><%= t 'model.status_ticket.title' %></h1>

<table>
  <tr>
    <th><%= t 'model.value' %></th>
    <th><%= t 'model.acronym' %></th>
    <th><%= t 'model.user' %></th>
    <th><%= t 'model.created_at' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @status_tickets.each do |status_ticket| %>
  <tr>
    <td><%= status_ticket.value %></td>
    <td><%= status_ticket.acronym %></td>
    <td><%= status_ticket.user %></td>
    <td><%= status_ticket.created_at.strftime( t('time.formats.default') )%></td>
    <td><%= link_to t('model.show'), status_ticket %></td>
    <td><%= link_to t('model.edit'), edit_status_ticket_path(status_ticket) %></td>
    <td><%= link_to t('model.destroy'), status_ticket, :confirm => t('model.destroy_question'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('model.status_ticket.new'), new_status_ticket_path %>
