<p id="notice"><%= notice %></p>

<p>
  <b><%= t('model.value') %>:</b>
  <%= @status_ticket.value %>
</p>

<p>
  <b><%= t('model.acronym') %>:</b>
  <%= @status_ticket.acronym %>
</p>

<p>
  <b><%= t('model.user') %>:</b>
  <%= @status_ticket.user %>
</p>


<%= link_to t('model.edit'), edit_status_ticket_path(@status_ticket) %> |
<%= link_to t('model.back'), status_tickets_path %>
