<div class="form">
  <fieldset>
    <legend><%= t('model.status_ticket.name') %></legend>
    <% if notice %>
      <span class="form-msg-success"><%= notice %></span>
    <% end %>
    <%= render partial: 'form', locals: { disabled: true } %>
  </fieldset>
</div>

<div class="buttons-nav">
  <%= link_to t('model.edit'), edit_status_ticket_path(@status_ticket), class: "button medium"  %>
  <%= link_to t('model.back'), status_tickets_path, class: "button medium" %>
</div>
