<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @status_ticket.value %>
</p>

<p>
  <b>Acronym:</b>
  <%= @status_ticket.acronym %>
</p>

<p>
  <b>User:</b>
  <%= @status_ticket.user %>
</p>


<%= link_to 'Edit', edit_status_ticket_path(@status_ticket) %> |
<%= link_to 'Back', status_tickets_path %>
