<%= form_for(@ticket_type_group) do |f| %>
  <% if @ticket_type_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket_type_group.errors.count, "error") %> prohibited this ticket_type_group from being saved:</h2>

      <ul>
      <% @ticket_type_group.errors.full_messages.each do |msg| %>
        <li class="form-msg-error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid-12-12">
    <%= f.label :value, :class => "form-lbl form-req" %>
    <%= f.text_field :value, :class => "form-txt form-small", :disabled => disabled %>
  </div>
  <div class="grid-12-12">
    <%= f.label :status, :class => "form-lbl form-req"%>
    <ul class="form-list-rdo">
      <% Status.all.each do |status| %>
        <li>
          <%= f.radio_button :status_id, status.id , :disabled => disabled  %>
          <%= f.label status.value, :class => "form-lbl" %>
        </li>
      <% end %>
    </ul>
  </div>
  <% unless disabled %>
    <div class="grid-7-12 field-button field-clear">
      <%= f.submit :class => "button form-right medium" %>
    </div>
  <%end%>
<% end %>
