<h1><%= t 'model.ticket_type_group.title' %></h1>

<table>
  <tr>
    <th><%= t 'model.value' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_type_groups.each do |ticket_type_group| %>
  <tr>
    <td><%= ticket_type_group.value %></td>
    <td><%= link_to t('model.show'), ticket_type_group %></td>
    <td><%= link_to t('model.edit'), edit_ticket_type_group_path(ticket_type_group) %></td>
    <td><%= link_to t('model.ticket_type.short.singular'), ticket_type_group_ticket_types_path(ticket_type_group) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('model.ticket_type_group.new'), new_ticket_type_group_path %>
