<div class="form">
  <fieldset>
    <legend><%= t('model.ticket_type_group.new') %></legend>
    <% if notice %>
      <span class="form-msg-success"><%= notice %></span>
    <% end %>
    <%= render :partial => 'form', :locals => {:disabled => true } %>
  </fieldset>
</div>

<div class="buttons-nav">
  <%= link_to 'Edit', edit_ticket_type_group_path(@ticket_type_group), :class => "button medium"  %>
  <%= link_to 'Back', ticket_type_groups_path, :class => "button medium"  %>
</div>
