<%= form_for([@place, @wicket]) do |f| %>
  <%= f.hidden_field :place_id, :value => params[:place_id] %>
  <% if @wicket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wicket.errors.count, "error") %> prohibited this wicket from being saved:</h2>

      <ul>
      <% @wicket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value, :maxlength => 80, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :guidance %><br />
    <%= f.radio_button :guidance, true %> <%= t('model.wicket.guidance.left') %>
    <%= f.radio_button :guidance, false %> <%= t('model.wicket.guidance.right')%>
  </div>

  <div class="field">
    <%= f.label :status %><br />
    <% Status.all.each do |status| %>
      <%= f.radio_button( :status_id, status.id ) %> <%= status.value %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
