<h1><%= t('model.wicket.title') %></h1>

<table>
  <tr>
    <th><%= t('model.value') %></th>
    <th><%= t('model.guidance.name') %></th>
    <th><%= t('model.wicket.priority.name') %></th>
    <th><%= t('model.status_des') %></th>
    <th><%= t('model.user') %></th>
    <th></th>
    <th></th>
  </tr>

<% @wickets.each do |wicket| %>
  <tr>
    <td><%= wicket.value %></td>
    <td><%= wicket.guidance_left? ? t('model.wicket.guidance.left') : t('model.wicket.guidance.right') %></td>
    <td><%= wicket.priority ? t('model.wicket.priority.sure') : t('model.wicket.priority.not') %></td>
    <td><%= wicket.status.value %></td>
    <td><%= wicket.user %></td>
    <td><%= link_to t('model.show'), place_wicket_path(wicket.place, wicket) %></td>
    <td><%= link_to t('model.edit'), edit_place_wicket_path(wicket.place, wicket) %></td>
    <td><%= link_to t('model.wicket.tickets.name'), place_wicket_tickets_path(wicket.place, wicket) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('model.wicket.new'), new_place_wicket_path(@place) %> |
<%= link_to t('model.place.back'), places_path %>
