<div class="form">
  <div class="search">
    <input type="text" value="search" id="search"/>
    <%= link_to image_tag("form/search.png") + t('application.search') , "#", :class => "button medium"%>
  </div>
  <table>
    <tr>
      <th><%=  t('model.wicket.name').pluralize %></th>
      <th colspan="3" class="options"><%= t("application.options") %></th>
    </tr>

    <% @wickets.each do |wicket| %>
      <tr class="row">
        <td width ="100%"><%= wicket.value %></td>
        <td>
          <%= link_to image_tag("form/search.gif"), place_wicket_path(wicket.place, wicket), :title => t('model.show')%>
        </td>
        <td>
          <%= link_to image_tag("form/edit.gif"), edit_place_wicket_path(wicket.place, wicket),  :title => t('model.edit') %>
        </td>
        <td>
			<%= link_to image_tag("form/trash.gif"), place_wicket_path(wicket.place, wicket), :confirm => t('model.destroy_question'), :method => :delete, :title => t('model.destroy') %>
		</td>   
	  </tr>
    <% end %>

  </table>
</div>
<div class="buttons-nav">
  <%= link_to t('model.wicket.new'), new_place_wicket_path(@place) , :class => "button medium"%> 
  <%= link_to t('model.place.back'), places_path , :class => "button medium"%>
</div>
