<h1>Listing wickets</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Guidance</th>
    <th>Status</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>

<% @wickets.each do |wicket| %>
  <tr>
    <td><%= wicket.value %></td>
    <td><%= wicket.guidance.value %></td>
    <td><%= wicket.status.value %></td>
    <td><%= wicket.user %></td>
    <td><%= link_to 'Show', place_wicket_path(wicket.place, wicket) %></td>
    <td><%= link_to 'Edit', edit_place_wicket_path(wicket.place, wicket) %></td>
    <td><%= link_to 'Ticekts', place_wicket_tickets_path(wicket.place, wicket) %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wicket', new_place_wicket_path(@place) %> |
<%= link_to 'Back Places', places_path %>
