<p id="notice"><%= notice %></p>

<p>
  <b><%= t('model.value') %>:</b>
  <%= @wicket.value %>
</p>

<p>
  <b><%= t('model.guidance.name') %>:</b>
  <%= t('model.wicket.guidance.left') if @wicket.guidance_left?  %>
  <%= t('model.wicket.guidance.right') if @wicket.guidance_right?  %>
</p>

<p>
  <b><%= t('model.status_des') %>:</b>
  <%= @wicket.status.value %>
</p>

<p>
  <b><%= t('model.user') %>:</b>
  <%= @wicket.user %>
</p>


<%= link_to t('model.edit'), edit_place_wicket_path(@wicket.place, @wicket) %> |
<%= link_to t('model.back'), place_wickets_path(@wicket.place) %>
