<div class="form">
  <fieldset>
    <legend><%= t('model.wicket.name') %></legend>
    <% if notice %>
      <span class="form-msg-success"><%= notice %></span>
    <% end %>
    <%= render :partial => 'form', :locals => {:disabled => true } %>
  </fieldset>
</div>
<div class="buttons-nav">
  <%= link_to t('model.edit'), edit_place_wicket_path(@wicket.place, @wicket), :class => "button medium" %> 
  <%= link_to t('model.back'), place_wickets_path(@wicket.place), :class => "button medium" %> 
</div>
