<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @wicket.value %>
</p>

<p>
  <b>Guidance:</b>
  <%= @wicket.guidance.value %>
</p>

<p>
  <b>Status:</b>
  <%= @wicket.status.value %>
</p>

<p>
  <b>User:</b>
  <%= @wicket.user %>
</p>


<%= link_to 'Edit', edit_place_wicket_path(@wicket.place, @wicket) %> |
<%= link_to 'Back', place_wickets_path %>
