<div style="text-align: right;">
  <input type="hidden" name="place_id" value="<%= params[:place_id] %>" id="place_id"/>
  <input id="current" type="hidden" value="<%= @tickets_called.last.id unless @tickets_called.empty? %>"/>
  <input id="ticket_type_groups" type="hidden" value="<%= @ticket_type_groups_id %>"/>
  <input id="second_level" type="hidden" value="<%= @wicket.second_level %>"/>

  <div id="wicket_menu">
    <div style="text-align: left; float: left; padding-left: 350px; font-size: 45px; font-weight: bold; color: #ACAB9A;"> <%= @wicket.value %> </div>
    <div style="text-align: right; float; right;">
	  <% unless @wicket.second_level? %>
        <a id="call_next" class="super button pink" href="chamar_proximo" data-method="get" data-remote="true"><%= t('model.call') %></a>
      <% end %>
    </div>
  </div>

  <div id="dashboard">

    <div class="support">
      <div id="tickets_waiting" class="main">
        <span style="text-align: left;"><%= t('model.ticket.pending.plural') %> </span> <span id="tickets_waiting_total" style="text-align: right;"><i>Total: <%= @tickets_waiting.length %></i></span>
        <ul id="tickets_waiting" class="holder">
          <% @val = {} %>
          <% if @tickets_waiting %>
            <% @tickets_waiting.each do |ticket| %>
              <% @val[ticket.ticket_type_id.to_s] ||= 0
                 @val[ticket.ticket_type_id.to_s] &&= @val[ticket.ticket_type_id.to_s] + 1 %>
              <li id='<%=ticket.id %>' style="width: 145px; text-align: center;">
                <span style="color: red;"><%= ticket.value %></span> <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tags">
	    <% unless @wicket.second_level? %>
          <ul id="tickets_waiting_tag" class="tag">
            <% @tickets_type.each do |types| %>
              <li class="tittle"><%= types.value %></li>
              <li id='ticket_type<%= types.id %>' class="content"><%= @val[types.id.to_s] %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="support">
	<% unless @wicket.second_level? %>
      <div id="tickets_attended" class="main">
        <span style="text-align: left;"><%= t('model.ticket.attend.plural') %> </span> <span id="tickets_attended_total" style="text-align: right;"><i>Total: <%= @tickets_attended.length %></i></span>
        <ul id="tickets_attended" class="holder">
          <% if @tickets_attended %>
            <% @val[:attend] = {} %>
            <% @tickets_attended.each do |ticket| %>
              <% @val[:attend][ticket.ticket_type_id.to_s] ||= 0
               @val[:attend][ticket.ticket_type_id.to_s] &&= @val[:attend][ticket.ticket_type_id.to_s] + 1 %>

              <li id='<%= ticket.id %>' style="width: 145px; text-align: center;">
                <span style="color: red;"><%= ticket.value %></span> <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tags">
        <ul id="tickets_attended_tag" class="tag">
          <% @tickets_type.each do |types| %>
            <li class="tittle"><%= types.value %></li>
            <li id='ticket_type<%= types.id %>' class="content"><%= @val[:attend][types.id.to_s] %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div id="tickets_examed" class="main">
        <span style="text-align: left;"><%= t('model.ticket.examed.plural') %> </span> <span id="tickets_examed_total" style="text-align: right;"><i>Total: <%= @tickets_examed.length %></i></span>
        <ul id="tickets_examed" class="holder">
          <% if @tickets_examed %>
            <% @val[:attend] = {} %>
            <% @tickets_examed.each do |ticket| %>
              <% @val[:attend][ticket.ticket_type_id.to_s] ||= 0
               @val[:attend][ticket.ticket_type_id.to_s] &&= @val[:attend][ticket.ticket_type_id.to_s] + 1 %>

              <li id='<%= ticket.id %>' style="width: 145px; text-align: center;">
                <span style="color: red;"><%= ticket.value %></span> <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tags">
      </div>
    <% end %>
    </div>

    <div class="support">
	<% unless @wicket.second_level? %>
      <div id="tickets_available" class="main">
        <span style="text-align: left;"><%= t('model.ticket.name') %> </span> <span id="tickets_available_total" style="text-align: right;"><i>Total: <%= @tickets_available.length %></i></span>
        <ul id="tickets_available" class="holder">
          <% if @tickets_available %>
            <% @val[:available]={} %>
            <% @tickets_available.each do |ticket| %>
              <% @val[:available][ticket.ticket_type_id.to_s] ||= 0
                 @val[:available][ticket.ticket_type_id.to_s] &&= @val[:available][ticket.ticket_type_id.to_s] + 1 %>
              <li id='<%= ticket.id %>' style="width: 145px; text-align: center;">
                <span style="color: red;"><%= ticket.value %></span> <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tags">
        <ul id="tickets_available_tag" class="tag">
          <% @tickets_type.each do |types| %>
            <li class="tittle"><%= types.value %></li>
            <li id="ticket_type<%= types.id %>" class="content"><%= @val[:available][types.id.to_s] %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div id="tickets_preexam" class="main">
        <span style="text-align: left;"><%= t('model.ticket.attend.plural') %> </span> <span id="tickets_preexam_total" style="text-align: right;"><i>Total: <%= @tickets_attended.length %></i></span>
        <ul id="tickets_preexam" class="holder">
          <% if @tickets_attended %>
            <% @val[:attend] = {} %>
            <% @tickets_attended.each do |ticket| %>
              <% @val[:attend][ticket.ticket_type_id.to_s] ||= 0
               @val[:attend][ticket.ticket_type_id.to_s] &&= @val[:attend][ticket.ticket_type_id.to_s] + 1 %>

              <li id='<%= ticket.id %>' style="width: 145px; text-align: center;">
                <span style="color: red;"><%= ticket.value %></span> <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tags">
      </div>
    <% end %>
    </div>

  </div>
  <%= javascript_include_juggernaut %>
  <%= javascript_include_tag 'juggernaut', 'juggernaut.wicket', 'facebox', 'facebox-plugin', 'data-slide', 'wicket' %>
  <div style="clear: both;"></div>
  <script type="text/javascript" >
    $(document).ready(function(){
        wicket.init();
      })
  </script>
</div>
