<div style="text-align: right;">

  <input id="current" type="hidden" value="<%= @tickets_called.last.id unless @tickets_called.empty? %>"/>
  <a id="call_next" class="super button pink" data-url="chamar_proximo" data-method="get"><%= t('model.call') %></a>
  <a id="pending" class="super button pink" data-url="por_em_espera" data-method="put"><%= t('model.ticket.pending') %></a>
  <a id="recall" class="super button pink" data-url="rechamar" data-method="put"><%= t('model.ticket.recall') %></a>

  <div id="dashboard">

    <div class="support">
      <div id="tickets_waiting" class="main">
        <span style="text-align: left;"><%= t('model.ticket.pending') %> </span> <span id="tickets_waiting_total" style="text-align: right;"><i>Total: <%= @tickets_waiting.length %></i></span>
        <ul id="tickets_waiting" class="holder">
          <% @val = {} %>
          <% if @tickets_waiting %>
            <% @tickets_waiting.each do |ticket| %>
              <% @val[ticket.ticket_type_id.to_s] ||= 0
                 @val[ticket.ticket_type_id.to_s] &&= @val[ticket.ticket_type_id.to_s] + 1 %>
              <li id='<%=ticket.id %>' style="width: 145px; text-align: center;">
                <span style="color: red;"><%= ticket.value %></span> <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tags">
        <ul class="tag">
          <% @tickets_type.each do |types| %>
            <li class="tittle"><%= types.value %></li>
            <li id='<%= types.id %>' class="content"><%= @val[types.id.to_s] %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="support">
      <div id="tickets_called" class="main">
        <span style="text-align: left;"><%= t('model.ticket.called') %> </span> <span id="tickets_called_total" style="text-align: right;"><i>Total: <%= @tickets_called.length %></i></span>
        <ul id="tickets_called" class="holder">
          <% if @tickets_called %>
            <% @val[:call] = {} %>
            <% @tickets_called.each do |ticket| %>
              <% @val[:call][ticket.ticket_type_id.to_s] ||= 0
               @val[:call][ticket.ticket_type_id.to_s] &&= @val[:call][ticket.ticket_type_id.to_s] + 1 %>

              <li id='<%= ticket.id %>' style="width: 145px; text-align: center;">
                <span style="color: red;"><%= ticket.value %></span> <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tags">
        <ul class="tag">
          <% @tickets_type.each do |types| %>
            <li class="tittle"><%= types.value %></li>
            <li id='<%= types.id %>' class="content"><%= @val[:call][types.id.to_s] %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="support">
      <div id="tickets_available" class="main">
        <span style="text-align: left;"><%= t('model.ticket.name') %> </span> <span id="tickets_available_total" style="text-align: right;"><i>Total: <%= @tickets.length %></i></span>
        <ul id="tickets_available" class="holder">
          <% if @tickets %>
            <% @val[:available]={} %>
            <% @tickets.each do |ticket| %>
              <% @val[:available][ticket.ticket_type_id.to_s] ||= 0
                 @val[:available][ticket.ticket_type_id.to_s] &&= @val[:available][ticket.ticket_type_id.to_s] + 1 %>
              <li id='<%= ticket.id %>' style="width: 145px; text-align: center;">
                <span style="color: red;"><%= ticket.value %></span> <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tags">
        <ul id="tickets_available_tag" class="tag">
          <% @tickets_type.each do |types| %>
            <li class="tittle"><%= types.value %></li>
            <li id="<%= types.id %>" class="content"><%= @val[:available][types.id.to_s] %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
      var jugAvailables = new Juggernaut();
      jugAvailables.subscribe("availables<%= params[:place_id] %>", function(data){
          $.dataSlide('#tickets_available', {
              add : {
                element : '<li id='+data.id+' style="width: 145px; text-align: center;"><span style="color: red;">'+data.value+'</span> '+data.time+'</li>'
              }
            });
      }); 

      var jugCalled = new Juggernaut();
      jugCalled.subscribe("calleds<%= params[:place_id] %>", function(data){
          $.dataSlide('#tickets_available', { remove : 'li#'+data.id } );
          size = $('ul#tickets_available.holder li').size();
          $('span#tickets_available_total').html('<i>Total: '+size+'</i>');
      });
  </script>
  <%= javascript_include_tag 'wickets.core', 'jquery.pajinate.min', 'slide_table' %>
  <div style="clear: both;"></div>
</div>
