<script src="http://10.32.2.21:8080/application.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var jug = new Juggernaut();

    $("#mesg").append($("<li/>").append("Subscribing to channel1_channel2"));

    jug.subscribe('scmba', function(data){
        $("#tickets").append('<tr><td>'+data.senha+'</td><td><a id='+data.id+" class='trigger_submit'> Chamar</a></td></tr>");
    }); 
</script>
<h1><%= t('model.wicket.tickets.call') %></h1>

<%= form_for( CallHistory.new ) do |f| %>
  <%= f.hidden_field :ticket_id %>
  <%= f.hidden_field :wicket_id, :value => params[:wicket_id] %>
  <table id="tickets">
    <tr>
      <th><%= t('model.ticket.name') %></th>
      <th></th>
    </tr>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.value %></td>
      <td><a id="<%= ticket.id %>" class="trigger_submit"><%= t('model.call') %></a></td>
    </tr>
  <% end %>
  </table>

  <table id="tickets_waiting">
    <tr>
      <th><%= t('model.ticket.pending') %></th>
      <th></th>
    </tr>
    <% if @ticket_waiting %>
      <% @tickets_waiting.each do |ticket| %>
        <tr>
          <td><%= ticket.value %></td>
          <td><a id="<%= ticket.id %>" class="trigger_submit"><%= t('model.recall') %></a></td>
        </tr>
      <% end %>
    <% end %>
  </table>

<% end %>
