<h1><%= t('model.wicket.tickets.call') %></h1>

<input id="current" type="hidden" value="<%= @tickets_called.last.id unless @tickets_called.empty? %>"/>
<input id="call_next" type="button" value='<%= t('model.call') %>' data-url="chamar_proximo" data-method="get"/>
<input id="pending" type="button" value='<%= t('model.ticket.pending') %>' data-url="por_em_espera" data-method="put"/>
<input id="recall" type="button" value='<%= t('model.ticket.recall') %>' data-url="rechamar" data-method="put"/>
<div>
  <div id="tickets" class="container">
    <em><%= t('model.ticket.name') %></em>
    <div class="page_nav"></div>
    <ul class="content">
      <% if @tickets %>
        <% @tickets.each do |ticket| %>
          <li id='<%= ticket.id %>'>
            <p><em><%= ticket.value %></em>
            <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div id="tickets_called" class="container">
    <em><%= t('model.ticket.called') %></em>
    <div class="page_nav"></div>
    <ul class="content">
      <% if @tickets_called %>
        <% @tickets_called.each do |ticket| %>
          <li id='<%= ticket.id %>'>
            <p><em><%= ticket.value %></em>
            <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div id="tickets_waiting" class="container">
    <em><%= t('model.ticket.pending') %></em>
    <div class="page_nav"></div>
    <ul class="content">
      <% if @tickets_waiting %>
        <% @tickets_waiting.each do |ticket| %>
          <li id='<%=ticket.id %>'>
            <p><em><%= ticket.value %></em>
            <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var jugAvailables = new Juggernaut();
    jugAvailables.subscribe("availables<%= params[:place_id] %>", function(data){
        $("#tickets > ul").append('<li id='+data.id+'><p>'+data.value+' '+data.time+' </p></li>');
    }); 

    var jugCalled = new Juggernaut();
    jugCalled.subscribe("calleds<%= params[:place_id] %>", function(data){
        $("div#tickets > ul > li#"+data.id).remove();
    });
</script>
<%= javascript_include_tag 'wickets.core', 'jquery.pajinate.min'%>

