<div style="text-align: right;">
  <input type="hidden" name="place_id" value="<%= params[:place_id] %>" id="place_id"/>
  <input id="current" type="hidden" value="<%= @tickets_called.last.id unless @tickets_called.empty? %>"/>

  <div id="wicket_menu">
    <div style="text-align: left; float: left; padding-left: 350px; font-size: 45px; font-weight: bold; color: #ACAB9A;"> <%= @wicket.value %> </div>
    <div style="text-align: right; float; right;">
      <a id="call_next" class="super button pink" data-url="chamar_proximo" data-method="get"><%= t('model.call') %></a>
    </div>
  </div>

  <div id="dashboard">

    <div class="support">
      <div id="tickets_waiting" class="main">
        <span style="text-align: left;"><%= t('model.ticket.pending.plural') %> </span> <span id="tickets_waiting_total" style="text-align: right;"><i>Total: <%= @tickets_waiting.length %></i></span>
        <ul id="tickets_waiting" class="holder">
          <% @val = {} %>
          <% if @tickets_waiting %>
            <% @tickets_waiting.each do |ticket| %>
              <% @val[ticket.ticket_type_id.to_s] ||= 0
                 @val[ticket.ticket_type_id.to_s] &&= @val[ticket.ticket_type_id.to_s] + 1 %>
              <li id='<%=ticket.id %>' style="width: 145px; text-align: center;">
                <span style="color: red;"><%= ticket.value %></span> <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tags">
        <ul class="tag">
          <% @tickets_type.each do |types| %>
            <li class="tittle"><%= types.value %></li>
            <li id='<%= types.id %>' class="content"><%= @val[types.id.to_s] %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="support">
      <div id="tickets_attended" class="main">
        <span style="text-align: left;"><%= t('model.ticket.attend.plural') %> </span> <span id="tickets_attended_total" style="text-align: right;"><i>Total: <%= @tickets_attended.length %></i></span>
        <ul id="tickets_attended" class="holder">
          <% if @tickets_attended %>
            <% @val[:attend] = {} %>
            <% @tickets_attended.each do |ticket| %>
              <% @val[:attend][ticket.ticket_type_id.to_s] ||= 0
               @val[:attend][ticket.ticket_type_id.to_s] &&= @val[:attend][ticket.ticket_type_id.to_s] + 1 %>

              <li id='<%= ticket.id %>' style="width: 145px; text-align: center;">
                <span style="color: red;"><%= ticket.value %></span> <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tags">
        <ul class="tag">
          <% @tickets_type.each do |types| %>
            <li class="tittle"><%= types.value %></li>
            <li id='<%= types.id %>' class="content"><%= @val[:attend][types.id.to_s] %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="support">
      <div id="tickets_available" class="main">
        <span style="text-align: left;"><%= t('model.ticket.name') %> </span> <span id="tickets_available_total" style="text-align: right;"><i>Total: <%= @tickets_available.length %></i></span>
        <ul id="tickets_available" class="holder">
          <% if @tickets_available %>
            <% @val[:available]={} %>
            <% @tickets_available.each do |ticket| %>
              <% @val[:available][ticket.ticket_type_id.to_s] ||= 0
                 @val[:available][ticket.ticket_type_id.to_s] &&= @val[:available][ticket.ticket_type_id.to_s] + 1 %>
              <li id='<%= ticket.id %>' style="width: 145px; text-align: center;">
                <span style="color: red;"><%= ticket.value %></span> <%= ticket.updated_at.strftime( t('time.formats.hour_minute') )%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="tags">
        <ul id="tickets_available_tag" class="tag">
          <% @tickets_type.each do |types| %>
            <li class="tittle"><%= types.value %></li>
            <li id="ticket_type<%= types.id %>" class="content"><%= @val[:available][types.id.to_s] %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <%= javascript_include_tag :juggernaut, 'juggernaut', 'wickets.core', 'jquery.pajinate.min', 'slide_table' %>
  <div style="clear: both;"></div>
</div>
