<div class="form">
  <div class="search">
    <input type="text" value="search" id="search"/>
    <%= link_to image_tag("form/search.png") + t('application.search') , "#", :class => "button medium"%>
  </div>
  <table>
    <tr>
      <th><%=  t('model.place.name').pluralize %></th>
      <th class="options"><%= t("application.options") %></th>
    </tr>
      <tr class="row">
        <td width ="100%"><%= 'Tickets per day' %></td>
        <td><%= link_to image_tag("form/search.gif"), tickets_per_day_reports_path, :title => t('model.show') %></td>
      </tr>
  </table>
</div>
