<%= stylesheet_link_tag 'jquery-ui-1.8.15.custom', 'tipsy' %>
<div class="form">
  <h1 class="spotlight"><%= t('application.reports.tickets_per_month.name') %></h1>
  <div class="search" style="width:95%; margin-bottom: 30px">

    <%= form_tag( tickets_per_month_place_reports_path, :method => "get" ) do %>
	  <div class="select-date">
      	<%= label_tag t('application.reports.since') %>
	  	<%= select_date( nil,  :prefix=>"start_date", :discard_day => true, :prompt => {:month =>  t('application.reports.chose.month'), :year =>  t('application.reports.chose.year')}) %>
	  	<%= label_tag t('application.reports.to') %>
	  	<%= select_date( nil,  :prefix=>"end_date", :discard_day => true, :prompt => {:month =>  t('application.reports.chose.month'), :year =>  t('application.reports.chose.year')}) %>
	    <%= submit_tag( t('application.search'), :class => "button medium" ) %>
	  </div>
    <% end %>
  </div>
  <div id="graph" class="graph"></div>
  <% unless @tickets_per_month.nil? || @tickets_per_month.empty? %>
    <table>
      <tr>
        <th><%= t("application.reports.tickets_per_month.month_year") %></th>
        <th><%= t("application.reports.tickets_per_month.quantity") %></th>
      </tr>
      <% total= 0 %>
      <% length= @tickets_per_month.length %>
      <% @tickets_per_month.each do |ticket| %>
        <% current_date = ticket.date_local %>
        <tr class="row">
          <td width="100%"><%= unabbreviated_month_year(current_date) %> </td>
          <td style="text-align: center;"><%= ticket.count_id %></td>
        </tr>
        <% total += ticket.count_id %>
      <% end %>
      <tr>
        <td style="text-align: right;"><%= t('application.reports.average') %></td>
        <td style="text-align: center;"><%= total / length %></td>
      </tr>
      <tr>
        <td style="text-align: right;"><%= t('application.reports.total') %></td>
        <td style="text-align: center;"><%= total %></td>
      </tr>
    </table>
    <div class="print">
      <%= link_to t('application.reports.print'), tickets_per_month_place_reports_path( :start_date => params[:start_date], :end_date => params[:end_date], :format => 'pdf' ), :class => "button medium" %>
    </div>
  <% end %>
  <%= javascript_include_tag 'protovis', 'jquery.tipsy', 'report', 'tipsy', 'report_tickets_per_day' %>
  <script type='text/javascript'>
   renderProtovis(<%= @tickets_per_month.to_json.html_safe %>);
  </script>
</div>

