<%= stylesheet_link_tag 'jquery-ui-1.8.15.custom', 'tipsy' %>
<div class="form">
  <h1 class="spotlight"><%= t('application.reports.tickets_per_day') %></h1>
  <div class="search" style="width:95%; margin-bottom: 30px">
    <form id="perday">
      <%= label_tag t('application.reports.since') %>
      <%= text_field_tag :start_date, nil, :class => "date from", :readonly => true %>
      <%= label_tag t('application.reports.to') %>
      <%= text_field_tag :end_date, nil, :class => "date to", :readonly => true%>
      <%= link_to image_tag("form/search.png") + t('application.search'), '#', :class => "button medium"%>
    </form>
  </div>
  <div id="center"></div>
  <%= javascript_include_tag 'protovis', 'jquery.tipsy', 'tipsy', 'report_tickets_per_day' %>
</div>

