<%= stylesheet_link_tag 'jquery-ui-1.8.15.custom', 'tipsy' %>
<div class="form">
  <legend><%= t('application.reports.tickets_per_day') %></legend>
  <div class="search" style="width:95%; margin-bottom: 30px">
    <form id="perday">
      <%= text_field :search, :start_date, :class => "date", :readonly => true %>
      <%= text_field :search, :end_date, :class => "date" %>
      <%= link_to image_tag("form/search.png") + t('application.search'), '#', :class => "button medium"%>
    </form>
  </div>
  <div id="center"></div>
  <%= javascript_include_tag 'protovis', 'jquery.tipsy', 'tipsy', 'report_tickets_per_day' %>
</div>

