<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :local %><br />
    <%= f.collection_select( :local_id, Local.all, :id, :des_local, { :prompt => true } ) %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <% Status.all.each do |status| %>
      <%= f.radio_button( :status_id, status.id ) %> <%= status.value %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :ticket_type %><br />
    <% TicketType.all.each do |ticket_type| %>
      <%= check_box_tag "place[ticket_type_ids][]", ticket_type.id, @place.ticket_types.include?(ticket_type) %>
      <%= ticket_type.value %>
    <% end %>  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
