<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li class="form-msg-error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid-12-12">
    <%= f.label :value, :class => "form-lbl form-req"%>
    <%= f.text_field :value, :class => "form-txt form-small", :disabled => disabled %>
  </div>

  <div class="grid-12-12">
    <%= f.label :local, :class => "form-lbl form-req" %>
    <% if @place && @place.local_id && disabled %>
      <input type="text" value="<%= @place.local.des_local %>" disabled="disabled" class="form-txt form-small" />
    <% elsif %>
      <%= f.collection_select( :local_id, @locals, :id, :des_local, { :prompt => true }, :class => "form-small", :disabled => disabled  ) %>
    <% end %>
  </div>

  <div class="grid-12-12">
    <%= f.label :ticket_type_groups, :class => "form-lbl form-req" %>
    <ul class = "form-list-chk">
      <% TicketTypeGroup.all.each do |ticket_type_group| %>
        <li>
          <%= check_box_tag "place[ticket_type_group_ids][]", ticket_type_group.id, @place.ticket_type_groups.include?(ticket_type_group), :disabled => disabled  %>
          <%= f.label ticket_type_group.value, :class => "form-lbl" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="grid-12-12">
    <%= f.label :sequential_by_type_group, :class => "form-lbl form-req"%>
    <ul class="form-list-rdo">
      <li>
        <%= f.radio_button :sequential_by_type_group, "true", :disabled => disabled  %>
        <%= f.label t('model.place.sequential_by_type_group.sure'), :class => "form-lbl" %>
      </li>
      <li>
        <%= f.radio_button :sequential_by_type_group, "false", :disabled => disabled  %>
        <%= f.label t('model.place.sequential_by_type_group.not'), :class => "form-lbl"%>
      </li>
    </ul>
  </div>

  <div class="grid-12-12">
    <%= f.label :status, :class => "form-lbl form-req"%>
    <ul class="form-list-rdo">
      <% Status.all.each do |status| %>
        <li>
          <%= f.radio_button :status_id, status.id , :disabled => disabled  %>
          <%= f.label status.value, :class => "form-lbl" %>
        </li>
      <% end %>
    </ul>
  </div>

  <% unless disabled %>
    <div class="grid-7-12 field-button field-clear">
      <%= f.submit :class => "button form-right medium" %>
    </div>
  <%end%>
<% end %>
