<h1><%= t('model.place.title') %></h1>

<table>
  <tr>
    <th><%= t('model.value') %></th>
    <th><%= t('model.user') %></th>
    <th><%= t('model.status_des') %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.value %></td>
    <td><%= place.user %></td>
    <td><%= place.status.value %></td>
    <td><%= link_to t('model.show'), place %></td>
    <td><%= link_to t('model.edit'), edit_place_path(place) %></td>
    <td><%= link_to t('model.totem.name'), place_totems_path(place) %></td>
    <td><%= link_to t('model.wicket.name'), place_wickets_path(place) %></td>
    <td><%= link_to t('model.panel.name'), place_panels_path(place) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('model.place.new'), new_place_path %>
