<div class="form">
  <div class="search">
    <input type="text" value="search" id="search"/>
    <%= link_to image_tag("form/search.png") + t('application.search') , "#", :class => "button medium"%>
  </div>
  <table>
    <tr>
      <th><%=  t('model.place.name').pluralize %></th>
      <th colspan="6" class="options"><%= t("application.options") %></th>
    </tr>
    <% @places.each do |place| %>
      <tr class="row">
        <td width ="100%"><%= place.value %></td>
        <td><%= link_to image_tag("form/search.gif"), place, :title => t('model.show') %></td>
        <td><%= link_to image_tag("form/edit.gif"), edit_place_path(place), :title => t('model.edit') %></td>
        <td><%= link_to image_tag("form/totem.gif"), place_totems_path(place), :title => t('model.totem.name') %></td>
        <td><%= link_to image_tag("form/wicket.gif"), place_wickets_path(place), :title => t('model.wicket.name') %></td>
        <td><%= link_to image_tag("form/panel.gif"), place_panels_path(place), :title => t('model.panel.name') %></td>
        <td><%= link_to image_tag("form/trash.gif"), place, :confirm => t('model.destroy_question'), :method => :delete, :title => t('model.destroy') %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="buttons-nav">
  <%= link_to t('model.place.new'), new_place_path, :class => "button medium" %>
</div>
