<p id="notice"><%= notice %></p>

<p>
  <b><%= t('model.value') %>:</b>
  <%= @place.value %>
</p>

<p>
  <b><%= t('model.user') %>:</b>
  <%= @place.user %>
</p>

<p>
  <b><%= t('model.local.name') %>:</b>
  <%= @place.local.des_local %>
</p>

<p>
  <b><%= t('model.status_des') %>:</b>
  <%= @place.status.value %>
</p>


<%= link_to t('model.edit'), edit_place_path(@place) %> |
<%= link_to t('model.back'), places_path %>
