<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @place.value %>
</p>

<p>
  <b>User:</b>
  <%= @place.user %>
</p>

<p>
  <b>Local:</b>
  <%= @place.local.des_local %>
</p>

<p>
  <b>Status:</b>
  <%= @place.status.value %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
