<!DOCTYPE html>
<html>
<head>
  <title>Ticketer</title>
  <%= stylesheet_link_tag "application-external", "facebox", "data-slide" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body style="background:url('/assets/full.jpg') no-repeat">
  <div class="header" style="margin-bottom:20px; background : none">
    <%= yield :header  %>
  </div>
  <div class="wrapper">
    <%= yield %>
  </div>
  <div class="screen_overlay"></div>
</body>
</html>
